[Unit]
Description=virtual evdev keyboard

[Service]
Type=simple
ExecStart=__PWD__/keys.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
